---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

@mixin x_ite-dark-scheme {
  /* Colors */

  --system-red: rgb(255, 59, 48);
  --system-orange: rgb(255, 149, 0);
  --system-yellow: rgb(255, 214, 10);
  --system-green: rgb(52, 199, 89);
  --system-mint: rgb(0, 199, 190);
  --system-teal: rgb(48, 176, 199);
  --system-cyan: rgb(50, 173, 230);
  --system-blue: rgb(0, 122, 255);
  --system-indigo: rgb(88, 86, 214);
  --system-purple: rgb(175, 82, 222);
  --system-pink: rgb(255, 45, 85);
  --system-brown: rgb(162, 132, 94);

  --system-gray0: rgb(72, 72, 77);
  --system-gray1: rgb(122, 122, 127);
  --system-gray2: rgb(174, 174, 178);
  --system-gray3: rgb(199, 199, 204);
  --system-gray4: rgb(209, 209, 214);
  --system-gray5: rgb(229, 229, 234);
  --system-gray6: rgb(242, 242, 247);
  --system-gray7: rgb(249, 249, 255);
  --system-gray8: rgb(255, 255, 255);

  --nav-border-color: rgba(158, 158, 158, 0.17);

  --h2-color: rgb(228, 228, 93);
  --h3-color: rgb(185, 137, 79);
  --h3-color-strong: rgb(232, 201, 133);
  --h4-color: rgb(60, 107, 184);
  --h4-color-strong: rgb(130, 173, 241);
  --h4-color-strong-writable: rgb(175, 206, 255);

  --example-background-color: rgba(0, 0, 0, 0.471);
  --playground-console-background: rgba(0, 0, 0, 0.2);
  --button-background-color: black;
}

@mixin x_ite-light-scheme {
  /* Colors */

  --system-red: rgb(255, 69, 58);
  --system-orange: rgb(255, 159, 10);
  --system-yellow: rgb(255, 214, 10);
  --system-green: hsl(135, 64%, 45%);
  --system-mint: rgb(104, 212, 207);
  --system-teal: rgb(64, 200, 224);
  --system-cyan: rgb(100, 210, 255);
  --system-blue: rgb(10, 132, 255);
  --system-indigo: rgb(94, 92, 230);
  --system-purple: rgb(191, 90, 242);
  --system-pink: rgb(255, 55, 95);
  --system-brown: rgb(172, 142, 104);

  --system-gray0: rgb(204, 204, 209);
  --system-gray1: rgb(142, 142, 147);
  --system-gray2: rgb(99, 99, 102);
  --system-gray3: rgb(72, 72, 74);
  --system-gray4: rgb(58, 58, 60);
  --system-gray5: rgb(44, 44, 46);
  --system-gray6: rgb(28, 28, 30);
  --system-gray7: rgb(21, 21, 23);
  --system-gray8: rgb(0, 0, 0);

  --h2-color: rgb(189, 0, 0);
  --h3-color: rgb(159, 103, 34);;
  --h3-color-strong: rgb(173, 81, 0);
  --h4-color: rgb(29, 80, 163);
  --h4-color-strong: rgb(10, 80, 144);
  --h4-color-strong-writable: rgb(97, 29, 163);

  --example-background-color: rgba(235, 235, 255, 0.644);
  --playground-console-background: rgb(0, 0, 0, 0.02);
  --button-background-color: white;
}

@media (prefers-color-scheme: dark) {
  html:not([data-mode]), html[data-mode=dark] {
    @include x_ite-dark-scheme;
  }

  html[data-mode=light] {
    @include x_ite-light-scheme;
  }
}

@media (prefers-color-scheme: light) {
  html[data-mode=dark] {
    @include x_ite-dark-scheme;
  }

  html:not([data-mode]), html[data-mode=light] {
    @include x_ite-light-scheme;
  }
}

@media all and not (max-width: 1199px) {
  .post-tail-wrapper > .nav-wrapper {
    display: none;
  }
}

html {
  overflow: auto;
}

/* append your custom style below */

.red {
  color: var(--system-red) !important;
}

.green {
  color: var(--system-green) !important;
}

.blue {
  color: var(--system-blue) !important;
}

.yellow {
  color: var(--system-yellow) !important;
}

.bold {
  font-weight: bold;
}

#topbar-title {
  text-transform: uppercase;
}

.nav-wrapper {
  margin-top: 4rem;
  border-left: 1px solid var(--nav-border-color);
  transition: top 0.2s ease-in-out;
  -webkit-animation: fade-up 0.8s;
  animation: fade-up 0.8s;
}

.nav-wrapper a.active {
  font-weight: bold;
}

.content h1 {
  color: var(--link-color);
  font-weight: bold;
}

.content h2 {
  color: var(--h2-color);
}

.content h3 {
  color: var(--h3-color);
}

.content h3 strong {
  color: var(--h3-color-strong);
}

.content h4 {
  color: var(--h4-color);
}

.content h4 strong {
  color: var(--h4-color-strong);
}

.content h4.writable strong {
  color: var(--h4-color-strong-writable);
}

.content h5 {
  font-weight: bold;
}

.content dl dt {
  color: var(--h3-color-strong);
}

.content dl dt strong {
  color: var(--h3-color);
}

.post-tail-wrapper .nav-wrapper {
  border: 1px solid var(--nav-border-color);
  border-radius: 10px;
}

.post-tail-wrapper .nav-wrapper h2 {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.post-tail-wrapper .nav-wrapper a {
  font-size: var(--bs-body-font-size);
}

.clear {
  clear: both;
}

small, .small {
  font-size: 75%;
}

.content x3d-canvas,
.content iframe {
  border: none;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

/* xr-button */

x3d-canvas.xr-button-tr::part(xr-button) {
  top: 10px;
  right: 10px;
  bottom: unset;
  left: unset;
}

x3d-canvas.xr-button-cr::part(xr-button) {
  top: 50%;
  right: 10px;
  bottom: unset;
  left: unset;
}

x3d-canvas.xr-button-br::part(xr-button) {
  top: unset;
  right: 10px;
  bottom: 10px;
  left: unset;
}

x3d-canvas.xr-button-bl::part(xr-button) {
  top: unset;
  right: unset;
  bottom: 10px;
  left: 10px;
}

x3d-canvas.xr-button-tl::part(xr-button) {
  top: 10px;
  right: unset;
  bottom: unset;
  left: 10px;
}

/* teaser */

.content .teaser {
    aspect-ratio: 16 / 5;
}

.content .teaser::part(surface) {
  cursor: default !important;
}

.content .mascot-wrapper {
  position: relative;
}

.content .mascot {
  pointer-events: none;
  aspect-ratio: 780 / 280;
  position: absolute;
  transform: translateY(-70%);
}

/* */

span[data-label-text="X3D" i],
span[data-label-text="VRML" i] {
  text-transform: uppercase;
}

.table-wrapper > table tbody tr td,
.table-wrapper > table thead th {
  white-space: initial;
}

.badge-link img {
  display: inline;
}

input[type=button].button,
input[type=file].button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 1rem;
  padding: 0 0.7rem 0.5rem;
  height: 2rem;
  color: var(--text-color);
}

input.button::file-selector-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background: none;
  outline: none;
  border: none;
  padding-bottom: 0.5rem;
}

/* Special Safari only Selector */
_::-webkit-full-page-media, _:future, :root input.button::file-selector-button {
  top: -2px;
}

input[type=button].button:hover,
input[type=file].button:hover {
  border: 1px solid var(--system-gray8);
  color: var(--system-gray8);
}

input[type=button].button:focus,
input[type=file].button:focus {
  border: 1px solid var(--system-green);
  color: var(--system-green);
}

input[type=""],
input[type=text],
input[type=number] {
  border: none;
  border-radius: 1rem;
  height: 2rem;
  padding: 0 1rem;
  background: var(--system-gray0);
}

input[type=""]:focus,
input[type=text]:focus,
input[type=number]:focus {
  outline: 1px solid var(--system-green);
}

input[type=range].range {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  top: -2px;
  margin-left: 0.3rem;
  background: var(--text-color);
  height: 4px;
}

input[type=range].range:hover {
  background: var(--system-gray8);
}

input[type=range].range:focus {
  background: var(--system-green);
}

/* Must have a selector for each browser separately. */
input[type=range].range::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--text-color);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}

input[type=range].range:hover::-webkit-slider-thumb {
  background: var(--system-gray8);
}

/* Must have a selector for each browser separately. */
input[type=range].range::-moz-range-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--text-color);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}

input[type=range].range:hover::-moz-range-thumb {
  background: var(--system-gray8);
}

button {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--text-color);
}

button:hover {
  color: var(--system-gray8);
}

button i {
  cursor: pointer;
  padding-right: 0.5rem;
}

button:hover,
button i:hover {
  color: var(--system-gray8);
}

button.selected {
  color: var(--system-green);
}

select.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  display: block;
  outline: none;
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 1rem;
  margin: 0.3rem 0;
  padding: 0 0.7rem 0.06rem 0.7rem;
  width: 100%;
  height: 2rem;
  color: var(--text-color);
  font-size: inherit;
  font-family: inherit;
}

select.select:hover {
  border: 1px solid var(--system-gray8);
  color: var(--system-gray8);
}

select.select:focus {
  border: 1px solid var(--system-green);
  color: var(--system-green);
}

select.select option {
  color: var(--text-color);
  background: var(--main-bg);
}

/* Patreon link  */

.patreon {
  display: block;
  border: 1px solid !important;
  border-radius: .625rem;
  padding: .5rem;
  text-align: center;
}

/* table examples */

.table-wrapper > table.examples tbody tr {
  border: none;
  background-color: var(--tb-odd-bg);
}

.table-wrapper > table.examples tbody tr td {
  border: 3px solid var(--tb-odd-bg);
  padding: 0;
  line-height: 1rem;
}

.table-wrapper > table.examples a.img-link {
  display: block;
}

.table-wrapper > table.examples a.popup {
  margin: 0;
}

@media all and (max-width: 849px) {
  .table-wrapper > table.examples tbody tr td {
    border-width: 2px;
  }
}

@media all and (max-width: 576px) {
  .table-wrapper > table.examples tbody tr td {
    border-width: 1px;
  }
}

/* example overlay */

.example {
  z-index: 2;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--example-background-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--nav-border-color);
  box-shadow: 0px 0px 10px black;
}

.example .header a {
  padding-left: 0.4rem;
  color: var(--text-muted-color);
}

.example .header:hover a {
  color: var(--text-color);
}

.example .header a:hover,
.example a:hover {
  color: #d2603a;
}

.example p {
  margin-top: 0;
  margin-bottom: 0;
}

.example .toolbar {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--example-background-color);
  overflow: hidden;
}

.example .toolbar > * {
   cursor: pointer;
   padding: 0 3px;
}

.example .toolbar > span:hover {
  color: var(--system-gray8);
}

.example .toolbar > span.selected {
   color: var(--system-green);
}

.example .toolbar > span.dot::before {
   content: "·";
   margin: 0 3px 0 4px;
   color: var(--text-color);
}

.example .toolbar > span.separator {
   border-left: 1px solid var(--text-color);
   margin: 0 0 0 5px;
}

.example .toolbar > span.separator + span.separator {
  display: none;
}

.example .footer > * {
  padding: 0 3px;
}

.example .footer > .dot::before {
  content: "·";
  margin: 0 3px 0 4px;
}

.example x3d-canvas {
  display: block;
  width: 50vw;
  height: auto;
  aspect-ratio: 16 / 9;
}

@media all and (max-width: 849px) {
  .example x3d-canvas {
    width: 80vw;
  }
}

@media all and (max-width: 576px) {
  .example {
    left: 15px;
    right: 15px;
  }

  .example x3d-canvas {
    width: 100%;
  }
}

.example .fa-circle-xmark {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 10px;
  left: -20px;
  top: -18px;
  cursor: pointer;
}

.example .fa-circle-xmark:hover {
  color: var(--system-gray7);
}

.example .fa-circle-xmark::after {
  content: " ";
  z-index: -1;
  position: relative;
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 0px;
  top: -16px;
  background: var(--button-background-color);
}

.example-links {
  list-style-type: none;
  padding: 0px;
}

.example-links li {
  display: inline-block;
}

.example-links li:not(:first-child)::before {
  content: "·";
  margin: 0 7px 0 4px;
}

/* monaco editor */

.monaco-editor,
.monaco-editor * {
  all: revert;
}
