---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #b3531a !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead__inner-wrap {
   padding-left: 67px;
}

.author__avatar {
   position: relative;
   top: -69px;
}

.author__content a {
   display: none;
}

.author__bio {
   position: relative;
   top: -42px;
   font-size: 9pt;
}

.author__urls-wrapper {
   position: relative;
   top: 14px;
}

.h-card {
   height: 0px;
}

@media (min-width: 48em)
{
   .author__avatar {
      top: -76px;
   }

   .author__bio {
      top: -46px;
      left: -1px;
   }

   .author__urls-wrapper {
      left: 8px;
      top: 18px;
   }
}

@media (min-width: 64em)
{
   .masthead__inner-wrap {
      padding-left: 1em;
   }

   .author__avatar {
      position: unset;
      top: unset;
   }

   .author__content a {
      display: unset;
   }

   .author__bio {
      position: unset;
      top: unset;
      font-size: unset;
   }

   .author__urls-wrapper {
      position: unset;
      top: unset;
   }

   .h-card {
      height: unset;
   }
}
