---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

#nav-wrapper {
  border-left: 1px solid rgba(158,158,158,0.17);
  margin-bottom: 4rem;
  transition: top 0.2s ease-in-out;
  -webkit-animation: fade-up 0.8s;
  animation: fade-up 0.8s;
}

#nav-wrapper a.active {
  color: rgb(168, 182, 206);
}

.post h1 {
  color: var(--link-color);
  font-weight: bold;
}

.post h2 {
  color: #e4e45d;
}

.post h3 {
  color: #b9894f;
}

.post h4 {
  color: var(--link-color);
}

.post h4 strong {
  color: rgb(175, 206, 255);
}

.table-wrapper > table tbody tr td,
.table-wrapper > table thead th {
  white-space: initial;
}
