---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {
  html:not([data-mode]), html[data-mode=dark] {
    --nav-border-color: rgba(158,158,158,0.17);
    --nav-active-page: rgb(168, 182, 206);
    --h2-color: #e4e45d;
    --h3-color: #b9894f;
    --h3-color-strong: #e8c985;
    --h4-color: var(--link-color);
    --h4-color-strong: rgb(175, 206, 255);
    --example-background-color: rgba(27,27,30,0.4);
    --button-background-color: black;
  }
}

@media (prefers-color-scheme: light) {
  html:not([data-mode]), html[data-mode=light] {
    --h2-color: #bd006a;
    --h3-color-strong: #ad5100;
    --button-background-color: white;
  }
}

/* append your custom style below */

a {
  -webkit-user-select: none;
  user-select: none;
}

small, .small {
  font-size: 60%;
}

#topbar-title {
  text-transform: uppercase;
}

#sidebar #avatar > a {
  border-radius: 0;
  border: none;
}

#nav-wrapper {
  border-left: 1px solid var(--nav-border-color);
  margin-bottom: 4rem;
  transition: top 0.2s ease-in-out;
  -webkit-animation: fade-up 0.8s;
  animation: fade-up 0.8s;
}

#nav-wrapper a.active {
  color: var(--nav-active-page);
}

@media all and (max-width: 1199px) {
  #panel-wrapper {
    display: block;
  }

  #nav-wrapper {
    margin-bottom: 0;
  }

  #toc-wrapper {
    display: none;
  }
}

.post h1 {
  color: var(--link-color);
  font-weight: bold;
}

.post h2 {
  color: var(--h2-color);
}

.post h3 {
  color: var(--h3-color);
}

.post h3 strong {
  color: var(--h3-color-strong);
}

.post h4 {
  color: var(--h4-color);
}

.post h4 strong {
  color: var(--h4-color-strong);
}

.post h5 {
  font-weight: bold;
}

.table-wrapper > table tbody tr td,
.table-wrapper > table thead th {
  white-space: initial;
}

.table-wrapper > table.examples tbody tr {
  border: none;
  background-color: var(--tb-odd-bg);
}

.table-wrapper > table.examples tbody tr td {
  border: 3px solid var(--tb-odd-bg);
  padding: 0;
  font-size: 0;
}

.table-wrapper > table.examples a.popup {
  margin: 0;
}

.table-wrapper > table.examples a:hover::before {
  content: "";
  position: absolute;
  background: var(--shimmer-bg);
  height: 100%;
  width: 100%;
  -webkit-animation: shimmer 1s infinite;
  animation: shimmer 1s infinite;
}

.table-wrapper > table.examples .shimmer::before {
  all: unset;
}

@media all and (max-width: 849px) {
  .table-wrapper > table.examples tbody tr td {
    border-width: 2px;
  }
}

@media all and (max-width: 576px) {
  .table-wrapper > table.examples tbody tr td {
    border-width: 1px;
  }
}

.post x3d-canvas,
.post iframe {
  border: none;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.example {
  z-index: 2;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--example-background-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--nav-border-color);
  box-shadow: 0px 0px 10px var(--button-background-color);
}

.example p {
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 1px 1px 0px var(--button-background-color);
}

.example x3d-canvas {
  display: block;
  width: 50vw;
  height: auto;
  aspect-ratio: 16 / 9;
}

@media all and (max-width: 849px) {
  .example x3d-canvas {
    width: 80vw;
  }
}

@media all and (max-width: 576px) {
  .example {
    left: 15px;
    right: 15px;
  }

  .example x3d-canvas {
    width: 100%;
  }
}

.example .fa-circle-xmark {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 10px;
  left: -20px;
  top: -18px;
  cursor: pointer;
}

.example .fa-circle-xmark::after {
  content: " ";
  z-index: -1;
  position: relative;
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 0px;
  top: -16px;
  background: var(--button-background-color);
}

.nav-item i {
  display: initial !important;
  margin-left: 0.2rem !important;
  margin-right: 0.2rem !important;
}
