
X3DCanvas .x_ite-private-splash-screen {
	display: none;
	z-index: 100;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #3d4145;
	background: -moz-radial-gradient(center, ellipse cover, #7b8189 0%, #3d4145 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #7b8189 0%,#3d4145 100%);
	background: radial-gradient(ellipse at center, rgb(130,130,130) 0%,#3d4145 100%);
}

X3DCanvas .x_ite-private-spinner {
	position: absolute;
	top: calc(50% - (138px / 2));
	left: calc(50% - (134px / 2));
	width: 138px;
	height: 134px;
	background: url(images/logo.128.png) no-repeat;
	-webkit-animation: spinner-animation-spin 32s linear infinite;
	-moz-animation: spinner-animation-spin 32s linear infinite;
	animation: spinner-animation-spin 32s linear infinite;
}
@-moz-keyframes spinner-animation-spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinner-animation-spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinner-animation-spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

X3DCanvas .x_ite-private-progress {
	position: absolute;
	top: calc(50% - 11pt);
	left: calc(50% - 100px);
	width: 200px;
}

X3DCanvas .x_ite-private-spinner-text {
	color: white;
	font-size: 11pt;
	text-align: center;
	text-shadow: 1px 1px 0px black;
	font-family: PT Sans, sans-serif;
}

X3DCanvas .x_ite-private-progressbar {
	margin: 8px;
	border-left:  2px solid rgba(255, 255, 255, 0.5);
	border-right: 2px solid rgba(255, 255, 255, 0.5);
	padding: 0 2px;
}

X3DCanvas .x_ite-private-progressbar div {
	width: 0%;
	height: 6px;
	background: rgba(255, 255, 255, 0.5);
}
