/* X_ITE CSS StyleSheet */

/* Do not include this file directly! This is not needed anymore. */

@charset "utf-8";

@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/PT_Sans/PTSans-Regular.woff2);
}

@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/PT_Sans/PTSans-Bold.woff2);
}

@font-face {
  font-family: PT Sans;
  font-style: italic;
  font-weight: 400;
  src: url(assets/fonts/PT_Sans/PTSans-Italic.woff2);
}

@font-face {
  font-family: PT Sans;
  font-style: italic;
  font-weight: 700;
  src: url(assets/fonts/PT_Sans/PTSans-BoldItalic.woff2);
}

:host,
X3DCanvas {
  display: inline-block;
  overflow: hidden;
  outline: none;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 300px;
  height: 150px;
  -webkit-user-select: none;
  user-select: none;
}

:host([hidden]) {
  display: none;
}

:host(.x_ite-fullscreen) {
  width: 100vw !important;
  height: 100vh !important;
}

X3DCanvas > :not(.x_ite-private-browser, .x_ite-private-menu) {
  display: none;
}

.x_ite-private-browser {
  overflow: hidden;
  position: relative;
  outline: none;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}

.x_ite-private-surface {
  outline: none;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  height: 100%;
}

.x_ite-private-canvas {
  display: block;
  outline: none;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.x_ite-private-notification {
  position: absolute;
  top: 20px;
  right: -4px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.61803);
  background: -moz-linear-gradient(top, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  border: 4px solid rgba(60, 60, 60, 0.61803);
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-family: PT Sans, sans-serif;
  font-size: 10pt;
  letter-spacing: unset;
  line-height: 1;
  white-space: pre;
  pointer-events: none;
}

.x_ite-private-notification span {
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 0 24px 0 20px;
  background: url(assets/images/logo.svg) no-repeat top -1px left 0px;
  background-size: 16px 16px;
}

.x_ite-private-browser-timings {
  position: absolute;
  bottom: -4px;
  left: -4px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.61803);
  background: -moz-linear-gradient(top, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  border-top: 4px solid rgba(60, 60, 60, 0.61803);
  border-right: 4px solid rgba(60, 60, 60, 0.61803);
  border-radius: 5px;
  padding: 10px 15px 14px 14px;
  color: white;
  font-family: PT Sans, sans-serif;
  font-size: 9pt;
  white-space: pre;
  pointer-events: none;
}

.x_ite-private-browser-timings table,
.x_ite-private-browser-timings thead,
.x_ite-private-browser-timings tbody,
.x_ite-private-browser-timings tfoot,
.x_ite-private-browser-timings tr,
.x_ite-private-browser-timings th,
.x_ite-private-browser-timings td {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background: none;
  color: white;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  letter-spacing: unset;
  line-height: 1;
  text-align: left;
}

.x_ite-private-browser-timings table {
  overflow: hidden;
  background: url(assets/images/schedule.svg) no-repeat 0px -1px;
  background-size: 16px 16px;
  image-rendering: pixelated;
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
  empty-cells: show;
}

.x_ite-private-browser-timings thead th {
  padding-left: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

.x_ite-private-browser-timings td:first-child {
  padding-right: 10px;
}

.x_ite-private-browser-timings table.more tr.x_ite-private-more td {
  padding-bottom: 5px;
}

.x_ite-private-browser-timings table.less tr.x_ite-private-more~tr {
  display: none;
}

.x_ite-private-browser-timings td {
  padding-bottom: 2px;
}

.x_ite-private-browser-timings tfoot td:first-child {
  padding-right: 0;
}

.x_ite-private-browser-timings tfoot td {
  padding-top: 4px;
}

.x_ite-private-browser-timings button {
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  width: 100%;
  height: 14pt;
  padding: 0;
  background: rgba(0, 0, 0, 0.38196601);
  color: white;
  font-family: PT Sans, sans-serif;
  font-style: italic;
  font-size: 9pt;
  letter-spacing: unset;
  line-height: 1.1;
  text-align: center;
  pointer-events: all;
  cursor: pointer;
}

.x_ite-private-world-info-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0;
}

.x_ite-private-world-info {
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0;
  margin: 21pt;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.61803);
  background: -moz-linear-gradient(top, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  border: 4px solid rgba(60, 60, 60, 0.61803);
  border-radius: 15px;
  padding: 21pt;
}

.x_ite-private-world-info .x_ite-private-world-info-top,
.x_ite-private-world-info .x_ite-private-world-info-title,
.x_ite-private-world-info .x_ite-private-world-info-info,
.x_ite-private-world-info p {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background: none;
  color: white;
  font-family: PT Sans, sans-serif;
  font-size: inherit;
  font-weight: inherit;
  font-style: normal;
  letter-spacing: unset;
  line-height: 1.2;
  text-align: left;
}

.x_ite-private-world-info .x_ite-private-world-info-top {
  font-weight: bold;
  font-style: italic;
  font-size: 9pt;
}

.x_ite-private-world-info .x_ite-private-world-info-title {
  margin: 0.3em 0 1em 0;
  font-weight: bold;
  font-size: 21pt;
}

.x_ite-private-world-info .x_ite-private-world-info-info,
.x_ite-private-world-info .x_ite-private-world-info-info p {
  margin: 1em 0 1em 0;
  font-size: 14pt;
}

.x_ite-private-world-info a {
  text-decoration: underline;
  color: #fd9f2e;
}

/* Context Menu */

.x_ite-private-menu.context-menu-layer {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0;
}

.x_ite-private-menu.context-menu-list,
.x_ite-private-menu .context-menu-list {
  overscroll-behavior: none;
  visibility: hidden;
  box-sizing: border-box;
  min-width: 120px;
  margin: 0;
  margin-left: 1px;
  border: 4px solid transparent;
  border-radius: 5px;
  padding: 5px 10px 4px 9px;
  color: white;
  font-family: PT Sans, sans-serif;
  font-size: 10pt;
  white-space: pre;
  line-height: 1.2;
  list-style-type: none;
}

.x_ite-private-menu.context-menu-list {
  position: fixed;
  z-index: 10000;
  isolation: isolate;
}

.x_ite-private-menu .context-menu-list {
  position: absolute;
}

.x_ite-private-menu .context-menu-list {
  top: -13px;
  /* re-positioned by js */
}

.x_ite-private-menu .context-menu-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0;
  box-sizing: border-box;
  min-width: 120px;
  margin: 0;
  margin-left: 1px;
  border: 4px solid rgba(60, 60, 60, 0.61803);
  border-radius: 5px;
  padding: 5px 10px 9px 9px;
  background: rgba(0, 0, 0, 0.61803);
  background: -moz-linear-gradient(top, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.61803) 0%, rgba(0, 0, 0, 0.61803) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
}

.x_ite-private-menu .context-menu-item {
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  margin: 0;
  font-size: 10pt;
  line-height: 1;
  letter-spacing: unset;
  text-align: left;
}

.x_ite-private-menu .context-menu-item {
  margin: 0 4px 0 4px;
}

.x_ite-private-menu .context-menu-item:first-of-type {
  margin-top: 4px;
}

.x_ite-private-menu .context-menu-item:last-of-type {
  margin-bottom: 4px;
}

.x_ite-private-menu .context-menu-item:hover:not(.context-menu-not-selectable) {
  background-color: #d71f1f;
}

.x_ite-private-menu .context-menu-item:hover > .context-menu-list {
  visibility: visible;
}

.x_ite-private-menu .context-menu-not-selectable {
  cursor: default;
}

.x_ite-private-menu .context-menu-separator {
  cursor: default;
  margin: 2px 0;
  border-top: 0;
  border-bottom: 1px solid rgb(138, 138, 138);
  padding-top: 0;
  padding-bottom: 0;
}

.x_ite-private-menu .context-menu-separator+.context-menu-separator {
  display: none !important;
}

.x_ite-private-menu .context-menu-submenu:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 8px;
  margin-right: 2px;
  /* CSS triangle */
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent #eee;
  width: 0;
  height: 0;
}

.x_ite-private-menu .context-menu-item > span {
  display: block;
  width: 100%;
  padding: 5px 24px;
}

.x_ite-private-menu label {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 24px;
  width: 100%;
  font-size: 10pt;
  font-weight: normal;
  letter-spacing: unset;
  line-height: 1;
}

.x_ite-private-menu label:has(>input[type=radio]:checked) {
  font-weight: bold;
}

/* vertically align inside labels */
.x_ite-private-menu label > * {
  vertical-align: top;
  font-size: 10pt;
  letter-spacing: unset;
  line-height: 1;
}

.x_ite-private-menu input {
  all: revert;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* position checkboxes and radios like icons */
.x_ite-private-menu input[type=checkbox],
.x_ite-private-menu input[type=radio] {
  display: inline;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: -22px;
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 3px;
  background: url(assets/images/radio_button_unchecked.svg) no-repeat left 0px top 0px;
  background-size: 16px 16px;
}

.x_ite-private-menu input:checked {
  /* orange */
  filter: brightness(0) saturate(100%) invert(71%) sepia(100%) saturate(1647%) hue-rotate(335deg) brightness(101%) contrast(101%);
}

.x_ite-private-menu .context-menu-input:hover input:checked {
  filter: none;
}

.x_ite-private-menu input[type=checkbox]:checked {
  background-image: url(assets/images/check_circle.svg);
}

.x_ite-private-menu input[type=radio]:checked {
  background-image: url(assets/images/radio_button_checked.svg);
}

.x_ite-private-menu span {
  padding-left: 0px;
}

/* Item styles */

.x_ite-private-menu .context-menu-title {
  font-weight: bold;
}

.x_ite-private-menu .context-menu-selected {
  font-weight: bold;
  font-style: italic;
}

/* Icons */

.x_ite-private-menu .context-menu-icon {
  background-repeat: no-repeat;
  background-position: 2px 3px;
  background-size: 16px 16px;
}

.x_ite-private-menu .context-menu-icon.x_ite-private-icon-logo {
  background-image: url(assets/images/logo.svg);
  background-position: 2px 4px;
}

.x_ite-private-icon-viewpoint {
  background-image: url(assets/images/visibility.svg);
}

.x_ite-private-menu .x_ite-private-viewpoint input {
  background-image: url(assets/images/eye_closed.svg);
}

.x_ite-private-menu .x_ite-private-viewpoint input:checked {
  background-image: url(assets/images/eye_tracking.svg);
}

.x_ite-private-icon-viewer {
  background-image: url(assets/images/stadia_controller.svg);
}

.x_ite-private-menu .x_ite-private-examine-viewer input,
.x_ite-private-menu .x_ite-private-examine-viewer input:checked {
  background-image: url(assets/images/language.svg);
}

.x_ite-private-menu .x_ite-private-walk-viewer input,
.x_ite-private-menu .x_ite-private-walk-viewer input:checked {
  background-image: url(assets/images/directions_run.svg);
}

.x_ite-private-menu .x_ite-private-fly-viewer input,
.x_ite-private-menu .x_ite-private-fly-viewer input:checked {
  background-image: url(assets/images/travel.svg);
}

.x_ite-private-menu .x_ite-private-plane-viewer input,
.x_ite-private-menu .x_ite-private-plane-viewer input:checked {
  background-image: url(assets/images/border_all.svg);
}

.x_ite-private-menu .x_ite-private-lookat-viewer input,
.x_ite-private-menu .x_ite-private-lookat-viewer input:checked {
  background-image: url(assets/images/point_scan.svg);
}

.x_ite-private-menu .x_ite-private-none-viewer input,
.x_ite-private-menu .x_ite-private-none-viewer input:checked {
  background-image: url(assets/images/block.svg);
}

.x_ite-private-icon-primitive-quality {
  background-image: url(assets/images/hexagon.svg);
}

.x_ite-private-icon-texture-quality {
  background-image: url(assets/images/texture.svg);
}

.x_ite-private-icon-shading {
  background-image: url(assets/images/stroke_partial.svg);
}

.x_ite-private-icon-enter-fullscreen {
  background-image: url(assets/images/fullscreen.svg);
}

.x_ite-private-icon-leave-fullscreen {
  background-image: url(assets/images/fullscreen_exit.svg);
}

.x_ite-private-icon-world-info {
  background-image: url(assets/images/globe.svg);
}

.x_ite-private-icon-help-about {
  background-image: url(assets/images/info.svg);
}

/* Spinner */

.x_ite-private-splash-screen {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0;
  background: #1b1d21;
  background: -moz-radial-gradient(center, ellipse cover, #2f3135 0%, #1b1d21 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #2f3135 0%, #1b1d21 100%);
  background: radial-gradient(ellipse at center, #2f3135 0%, #1b1d21 100%);
}

.x_ite-private-spinner {
  position: absolute;
  top: calc(50% - (160px / 2));
  left: calc(50% - (160px / 2) + 9px);
  width: 160px;
  height: 160px;
  background: url(assets/images/logo.svg) no-repeat;
  background-size: 160px 160px;
  opacity: 0.6;
  -webkit-animation: spinner-animation-spin 32s linear infinite;
  -moz-animation: spinner-animation-spin 32s linear infinite;
  animation: spinner-animation-spin 32s linear infinite;
  transform-origin: calc(458px / 1024px * 160px) calc(539px / 1024px * 160px);
}

@-moz-keyframes spinner-animation-spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-animation-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner-animation-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.x_ite-private-progress {
  position: absolute;
  top: calc(50% - 28pt - 11pt);
  left: calc(50% - 100px);
  width: 200px;
}

.x_ite-private-x_ite {
  color: white;
  font-size: 28pt;
  text-align: center;
  text-shadow: 1px 1px 0 black;
  font-family: PT Sans, sans-serif;
}

.x_ite-private-x_ite span.x_ite-private-x3d {
  font-weight: bold;
}

.x_ite-private-spinner-text {
  color: white;
  font-size: 11pt;
  text-align: center;
  text-shadow: 1px 1px 0 black;
  font-family: PT Sans, sans-serif;
}

.x_ite-private-progressbar {
  margin: 8px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding: 0 2px;
  text-align: left;
}

.x_ite-private-progressbar div {
  width: 0%;
  height: 6px;
  background: rgba(255, 255, 255, 0.5);
}

/* WebXR */

.x_ite-private-xr-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 32px;
  height: 18px;
  background: url(assets/images/xr.svg);
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.x_ite-private-xr-button:hover {
  transform: scale(1.2);
}

/* Animations */

.x_ite-private-hidden {
  visibility: hidden;
  opacity: 0;
}

.x_ite-private-fade-in-300 {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.x_ite-private-fade-out-2000 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s ease-in-out;
}

.x_ite-private-fade-out-300 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 300ms, opacity 300ms ease-in-out;
}
